<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="success-card">
  <template>
    <style>
      :host {
        display: block;
      }

      * {
        font-size: 15px;
      }

      h1 {
        text-align: center;
      }
      
      .container {
        margin: 0 auto;
      }

      .container-article {
        margin: 0 auto;
        width: 80%;
      }

      label, button, input {
        display: block;
        margin: 10px 0;
      }

      input {
        width: 100%;
        border: none;
        border-bottom: 2px solid #C1C2C2;
      }

      .button{
        margin: 0 auto;
        border: none;
        border-radius: 10px;
        background-color: #2BBAD6;
        color: #FFFFFF;
        height: 25px;
        width: 20%;
      }
    </style>

    <section class="container">
      <h1>Success!</h1>
      <article class="container-article">
        
        <form action="">
          <label for="labelUno">Label</label>
          <input type="text">
          
          <label for="labelDos">Label</label>
          <input type="text">
          
          <label for="labelTres">Label</label>
          <input type="text">
          
          <button class="button">Button</button>
        </form>
      </article>
    </section>

  </template>

  <script>
    /**
     * `success-card`
     * Formulario para capturar informacion Success
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class SuccessCard extends Polymer.Element {
      static get is() { return 'success-card'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'success-card'
          }
        };
      }
    }

    window.customElements.define(SuccessCard.is, SuccessCard);
  </script>
</dom-module>
